<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="KanbanDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=KanbanDB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>